.App {
  padding: 10px;
  background-color: #888888;
  height: 100vh;
  box-sizing: border-box;
}

.Header {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.HeaderBtn {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  background-color: #4469ae;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

.NewPost {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.NewPostHeader {
  position: relative;
  border-bottom: 1px solid #88888873;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.NewPostClose {
  top: 0;
  right: 0;
  border: none;
  background-color: #ffffff;
  color: #888888;
  font-weight: 500;
  cursor: pointer;
}

.NewPostForm {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.NewPostField {
  width: 100%;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.NewPostFooter {
  padding: 5px;
  height: 40px;
  border-top: 1px solid #88888873;
  background-color: #88888838;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.NewPostBtn {
  display: block;
  text-decoration: none;
  background-color: #4469ae;
  border: none;
  height: 100%;
  color: white;
  cursor: pointer;
}

.Post {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.PostHeader {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  gap: 30px;
  align-items: flex-start;
}

.PostAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #888888;
}

.PostText {
  padding: 5px;
}

.PostFooter {
  padding: 5px;
  height: 40px;
  box-sizing: border-box;
  border-top: 1px solid #88888873;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.PostEdit {
  background-color: #4469ae;
  border: none;
  height: 100%;
  color: white;
  cursor: pointer;
}

.PostDelete {
  background-color: #b04546;
  border: none;
  height: 100%;
  color: white;
  cursor: pointer;
}
